
body{
  font-family: 'Roboto', sans-serif;
}

h2{
 font-size: 250%;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 2px solid #bbbfca;
  font-size:200%
}

.header-child {
  float: right;
}
#name{
  float: left;
}

.header-child a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-child a:hover {
  background-color: #bbbfca;
  color: #495464;
}

#pic-of-me{
  border-radius: 50%;
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about,
#projects{
  padding-left: 25%;
  padding-right: 25%;
}
#about p{
  font-size: 200%;
}
#projects p{
  font-size: 200%;
}

#projects ul{
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

#projects ul a{
  text-decoration: none;
  font-size: 200%;
  color: black;
}

#projects ul a:hover{
  background-color: #bbbfca;
  color: white;
}
